@model BulkyBook.Models.CompanyViewModel

<form method="post" asp-action="Upsert">
    <input asp-for="Company.Id" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Company.Id != 0 ? "Update" : "Create") Company</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Company.Name"></label>
                    <input asp-for="Company.Name" class="form-control" />
                    <span asp-validation-for="Company.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Company.StreetAddress"></label>
                    <input asp-for="Company.StreetAddress" class="form-control"></input>
                    <span asp-validation-for="Company.StreetAddress" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Company.City"></label>
                    <input asp-for="Company.City" class="form-control" />
                    <span asp-validation-for="Company.City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Company.State"></label>
                    <input asp-for="Company.State" class="form-control" />
                    <span asp-validation-for="Company.State" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Company.PostalCode"></label>
                    <input asp-for="Company.PostalCode" class="form-control" />
                    <span asp-validation-for="Company.PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Company.PhoneNumber"></label>
                    <input asp-for="Company.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Company.PhoneNumber" class="text-danger"></span>
                </div>
                
                <div class="col-12">
                    @if (Model.Company.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@*so that the page doenst refresh and the validation happens client side*@
@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}